@{ 
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "View All Desk Quotes";

    var db = Database.Open("MegaDesk");
    var selectCommand = "";
    IEnumerable<dynamic> selectedData;
    selectCommand = "SELECT * FROM Desk_Quotes";
    selectedData = db.Query(selectCommand);

    if (IsPost)
    {
        if (!Request.Form["search"].IsEmpty())
        {
            selectCommand = "SELECT * FROM Desk_Quotes WHERE customer_name = @0";
            selectedData = db.Query(selectCommand, Request.Form["search"]);
        }
    }

    var grid = new WebGrid(source: selectedData, rowsPerPage: 5);
}

<div>
    <form method="post">
        <label for="search">Search by first or last name</label>
        <input type="text" name="search" id="search" /><input type="submit" value="Search" /><br />
    </form>
</div>
<div class="quotesGrid">
    @grid.GetHtml(
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/editQuote?id=@item.desk_quote_id">Edit</a>),
            grid.Column("desk_quote_id"),
            grid.Column("customer_name"),
            grid.Column("width"),
            grid.Column("depth"),
            grid.Column("num_drawers"),
            grid.Column("material"),
            grid.Column("rush_order"),
            grid.Column("total_cost"),
            grid.Column("date_added"),
            grid.Column(format: @<a href="~/deleteQuote?id=@item.desk_quote_id">Delete</a>)
        )
    )
</div>