body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    background-color: #272727;
}

h1, h2, h3, h5, h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

label, h4 {
    color: #747474;
}

main {
    padding: 25px;
}

hr {
    margin: 25px;
}

.top-nav {
    background-color: white;
    overflow: hidden;
}

.top-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #272727;
}

.icon:hover {
    color: white;
}

.top-nav .icon {
    display: none;
}

header {
    background-color: #747474;
    color: black;
    padding: 50px;
}

#nav-home:hover {
    color: #FFE400;
    text-decoration: underline;
    background-color: #272727;
}

#nav-view-quotes:hover {
    color: #14A76C;
    text-decoration: underline;
}

#nav-add-quote:hover {
    color: #FF652F;
    text-decoration: underline;
}

.col {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 1.5% 0 1.5%;
}

.row {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.col svg {
    width: 75%;
    height: 75%;
    margin: 50px auto;
}

.col a {
    text-decoration: none;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    line-height: 100px;
    text-align: center;
    color: #747474;
}

form {
    margin: auto;
    width: 100%;
}

.form-item {
    margin: 5px;
}

th {
    padding: 5px;
    text-align: center;
    border: 1px solid white;
}

td {
    padding: 5px;
    text-align: left;
    border: 1px solid white;
}

span, th a {
    color: #FFE400;
}

td a {
    color: #14A76C;
}

table {
    width: 100%;
    margin: 25px auto;
    color: white;
}

#quoteDelete, #deleteCancel {
    margin: 15px 0px;
}

@media screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        width: 100%;
    }

    #ccc-logo {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .top-nav a:not(:first-child) {
        display: none;
    }

    .top-nav a.icon {
        float: right;
        display: block;
    }

    .top-nav.responsive {
        position: relative;
    }

        .top-nav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .top-nav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}
